@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <body>
    <h1>CookBook</h1>
    <p class="lead"> CookBook is a site where you find the best cooking recipe with ingredeints.</p>
    
</div>

